/*font-family: 'M PLUS Rounded 1c', sans-serif;*/

html{
    width:100%;
}
body{
    background-image:url('../img/BOBSC2054_13_TP_V.jpg');
    width:100%;
    height:auto;
}
h1{
    color:white;
    font-family:'M PLUS Rounded 1c', sans-serif;
    font-size:6vw;
    text-align:center;
    margin-top:5vw;
}
h2{
    color:white;
    font-family:'M PLUS Rounded 1c', sans-serif;
    font-size:3vw;
    text-align:center;
}
.start_title img{
    width:10vw;
    height:auto;
    display:block;
    margin:5vw auto;
}
.start_title :hover{
    transition-duration: 0.5s;
    transform:scale(1.2);
}
.main_content img{
    width:10vw;
    height:auto;
    display:block;
    margin:5vw auto;
}
.main_content:hover{
    transition-duration: 0.5s;
    transform:scale(1.2);
}


.main_container{
    width:70vw;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
}
